<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdgkoreaandroid.multiscreencodelab" >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MovieListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" />
        <activity
            android:name=".MovieDetailActivity"
            android:label="@string/title_movie_detail"
            android:parentActivityName=".MovieListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MovieListActivity" />
        </activity>
        <receiver android:name=".Notification.NotificationIntentReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.android.support.wearable.notifications.ACTION_EXAMPLE" />
                <action android:name="com.example.android.support.wearable.notifications.ACTION_ENABLE_MESSAGES" />
                <action android:name="com.example.android.support.wearable.notifications.ACTION_DISABLE_MESSAGES" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
